.vim/bundle/*
.claude/*
!.claude/commands
!.claude/scripts
!.claude/skills
!.claude/settings.json
!.claude/CLAUDE.md
.config/opencode/*
!.config/opencode/AGENDS.md
!.config/opencode/commands
!.config/opencode/*.json
!.config/opencode/.opencode
._*
