files/.vim/bundle/*
dotfiles/.claude/*
!dotfiles/.claude/commands
!dotfiles/.claude/scripts
!dotfiles/.claude/skills
!dotfiles/.claude/settings.json
!dotfiles/.claude/CLAUDE.md
dotfiles/.config/opencode/*
!dotfiles/.config/opencode/AGENDS.md
!dotfiles/.config/opencode/commands
!dotfiles/.config/opencode/*.json
